body {
  font-family: "helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #1A73E8;
}

h1 {
  margin: 6px;
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: larger;
  padding: 4px 0;
}
h2 {
  display: inline-block;
  color: white;
  font-weight: normal;
  font-size: medium;
}

.studentName {
  height: 100%;
  float: right;
}

h3 {
  margin: 6px;
}

p {
  margin: 2px;
}

.answer {
  font-size: x-small;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.result {
  background-color: white;
  padding: 2px;
  border-bottom: darkgray solid 1px;
}

button {
  background-color: white;
  border: none;
  height: 60px;
}

button:hover {
  background-color: lightgray;
}