body {
  font-family: 'Roboto', 'helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

nav {
  background-color: #0B9F61;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
  position: relative;
}

h1 {
  font-weight: normal;
  font-size: larger;
  margin: 0 20px;
}

h2 {
  font-weight: normal;
  font-size: medium;
  margin: 6px 0;
}

.navBarItem {
  display: inline-block;
  color: white;
  height: 48px;
  line-height: 48px;
  margin-block-start: 0;
  margin-block-end: 0;
}


.studentName {
  height: 100%;
  float: right;
  padding-right: 20px;
}


p {
  margin: 2px 0 ;
}

.timeTaken {
  color: gray;
}

.answer {
  font-size: small;
}



ol li::before {
  content: counter(ordered-list-counter) ". ";
  font-weight: bold;
  font-size: 36px;
  padding: 0 20px;
  display: inline-block;
  width: 10%;
  position: absolute;
  left: 0;
}
ol {
  list-style: none;
  padding: 0;
  counter-reset: ordered-list-counter;
}
ol li {
  counter-increment: ordered-list-counter;
  border-bottom: lightgray solid 1px;
  box-shadow: 0 2px 4px 0 rgba(50,50,50,0.1), 0 -1px 4px 0 rgba(50,50,50,0.1);
  margin-bottom: 10px;
  background-color: white;
  width:94%;
  position: relative;
  padding-left: 80px;
}

.result {
  display: inline-block;
  padding: 2px;
}

.buttonRow {
  border-bottom: lightgray solid 1px;
}

a {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding: 0 24px;
  border-bottom: rgba(0,0,0,0) solid 2px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.66);
}

a:hover {
  background-color: #F0F0F0;
  border-bottom: #0B9F61 solid 2px;
}

.leftBorder {
  border-left: 1px lightgray solid;
}

.expandPrompt {
  font-weight: bold;
}

/* CSS Code below from https://loading.io/css/ */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 14px;
}
.lds-ellipsis div {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0B9F61;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* End Css from https://loading.io/css/*/